<!-- Component: Content Card -->
<!-- Usage: Resource card with thumbnail, star rating, and description -->
<!-- Used in: Resources, Books, Videos listing sections -->
<div class="content_card gc-cloud-card u-flex-horizontal u-gap-4 u-align-items-start">
    <!-- Thumbnail -->
    <div class="content_card_thumb">
        <img src="../assets/placeholder.jpg" alt="Teeth and Mouth" class="content_card_thumb_img" loading="lazy" width="120" height="120">
    </div>
    <!-- Info -->
    <div class="content_card_info u-flex-vertical u-gap-2">
        <img src="../assets/illust-stars-yellow.svg" alt="5 stars" class="card_testimonial_stars" width="60" height="42" loading="lazy">
        <h4 class="c-heading" data-style="h5">Teeth and Mouth</h4>
        <p class="c-paragraph u-text-style-small content_card_meta">+4 &middot; 2h 38m</p>
        <p class="c-paragraph u-text-style-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>
</div>
